<%= form_for(@recipe) do |f| %>
    <p><%= f.label :Nome %></p>
    <p><%= f.text_field :name %></p>

    <p><%= f.label :Ingredientes %></p>
    <p><%= f.text_area :stuff, cols: 30, rows: 10 %></p>
    
    <p><%= f.label :Tipo %></p>
    <p><%= f.text_field :kind %></p>

    <p><%= f.label :Calorias %></p>
    <p><%= f.number_field :calories %></p>

    <p><%= f.label :Modo_de_preparo %></p>
    <p><%= f.text_area :prepare_mode, cols: 30, rows: 10 %></p>

    <p><%= f.label :Tempo_de_Preparo %></p>
    <p><%= f.time_select :duration %>

    <p><%= f.label :Porcões %></p>
    <p><%= f.text_field :portion %></p>

    <p><%= f.label :Custo %></p>
    <p><%= f.number_field :cost %></p>

    <p><%= f.label :Poster %></p>
    <p><%= f.text_field :poster, placeholder: '.GIF, .JPEG OU .PNG' %></p>

    <p>
        <%= f.submit %>
        <%= link_to 'Cancelar', root_path %>
    </p>
<% end %>
